
<style>
    body {
        font-family: cursive;
        font-size: 16px;
    }

    * {
        text-align: justify;
    }
</style>
<body>
    <h2 style="padding-top:50px;">About</h2>
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <p>This projetct is about Book Reading Event Management.</p>
    <p>
        Book reading sessions are a lot like the bed time stories we grew up listening to during childhood. Perhaps the only difference was that those stories were an attempt to put us to sleep while an author’s challenge is to keep his audience engrossed, and of course, awake.

        How do you read a book audience?
        Do not read too fast: When reading fast you tend to mispronounce your words, cut off the end of your words and may even skip some words.
        Speak clearly and project your voice: When reading aloud to an audience speak as if you are talking to persons at the back of a room.
    </p>
</body>