
@{
    ViewBag.Title = "Home";
}
<style>
    .blink {
        padding-bottom: 9px;
        margin: 40px 0 20px;
        border-bottom: 1px solid #eeeeee;
        text-align: center;
        font-size: 35px;
        font-family: cursive;
        background-color: lightcoral;
        font-weight: bold;
        border: 4px solid;
        animation: 3s;
        animation: blinker 1.5s linear infinite;
    }

    ul li {
        font-family: cursive;
    }

    .paragraph {
        font-family: cursive;
        font-size: 16px;
    }

    p {
        font-family: cursive;
        font-size: 16px;
    }

    * {
        text-align: justify;
    }
</style>


<body>
    <p class="blink"> Welcome To Book Reading Event Management </p>
    <p>
        It was a .Net web application using the MVC framework.
        The application was designed to manage book-reading events, where book lovers come together for a community reading
        of their favorite book across India. Users can register on the website to create their own events and can invite
        other members to their events via email. The application was backed up by several validations for logged-in and anonymous
        users at both server and client-side along with unit test cases for each controller. Additionally, an admin was added
        in the application to monitor the activities of each user, where he can delete or edit any event.
    </p>

    <div class="paragraph">
        <ul>
            <li>An Event Management website where one can Organise and Attend Public or Private events.</li>
            <li>People can be invited to these events via their Email addresses.</li>
            <li>These Events could be Updated or Deleted if it hasn't been held till now.</li>
            <li>Maximum duration that can be alloted to an event is 4 hours.</li>
            <li>Role Based Authentication is provided to identify Admin.</li>
            <li>Admin can update all types of events, invitees, time and location of the event.</li>
            <li>Admin also have access to delete any of the event.</li>

        </ul>


    </div>



</body>

